html,
body {
  min-height: 100%;
  background: var(--nc-canvas);
  transition: background-color 240ms ease;
}

body {
  margin: 0;
}

.sb-show-main.sb-main-centered #storybook-root {
  padding: 2rem;
}

.sb-main-padded {
  padding: 2rem !important;
}
